*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 1.9vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 1.9vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 10vmin;
    color:rgb(46, 43, 43);
    background-color: #ebeb6c;
}

#reset{
    padding: 0.8rem;
    font-size: 1.26rem;
    background-color:gray;
    font-weight: bold;
    border-radius: 1rem;
}

#new{
    padding: 0.8rem;
    font-size: 1.26rem;
    background-color:gray;
    font-weight: bold;
    border-radius: 1rem;
}

#msg{
    color:rgb(247, 6, 6);
    font-size: 8vmin;
    font-weight: bold;
}

.msg-container{
    height: 10vmin;
}

.hide{
    display: none;
}

span{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}